{% extends 'temp.html' %}

{% load static %}

{% block content %}
    <div class="pets_pets">

        <div class="pet_title">{{ title }}</div>

        <div class="finish_divider"></div>
        <div class="container">
            {% for pet in pets %}
                <div class="pets_pets_block">
                    <span class="name">{{ pet.name }}</span>
                    <img src="{{ pet.img }}" alt="{{ pet.name }}">
                    <br>
                    <span class="text">{{ pet.text }}</span>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}