{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="header">
    <div class="container">
        <a class="link" href="{% url 'index' %}"><h1 class="title">WHISKAS</h1></a>
        <img src="{% static 'img/y1.png' %}" alt="cat_dog">
        <h2 class="title">наш телефон<br>
            8999999999</h2>
        <h3 class="title">Тут продаются животные</h3>
    </div>
</div>

{% block content %} {% endblock %}

<div class="footer">
    <div class="container">
        <a href="{% url 'index' %}">Главная</a>
        <a id="1" href="{% url 'reviews' %}">Отзывы о нас</a>
        <a href="{% url 'author' %}">Автор сайта</a>
    </div>
</div>

</body>
</html>